@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
::-webkit-scrollbar {
  width: 12px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000;
}

#root{
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
}
.seo_hidden{
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}



.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
}

.text {
  position: absolute;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  animation: animationTEXT 25s linear infinite;
}
.text b {
  position: absolute;
  display: block;
  transform-origin: 0 325px;
  left: 50%;
  font-weight: normal;
  font-size: 10vh;
}
@keyframes animationTEXT {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animation_ScrollArea{
  background: #000;
  overflow: hidden;
  height: 80vh;
}

.animation_ScrollBg{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150%;
  z-index: 5;
  background: linear-gradient(-3deg, #000, #000 25%, #000, #000, #b344ff 75%, #ffb6ff 90%);
  mix-blend-mode: darken;
}
.animation_text{
  color: white;
  background: #000; 
  overflow: hidden;
}


.target{
  position: relative;
  z-index: -1;
  margin: 0 auto;
  width: calc(100vw - 600px);
  padding: 20px;
  left: 400px;
}


.content {
  display: flex;
}

.blockBox {
  position: relative;
  flex-grow: 1;
  color: white;
  min-height: 450px;
}

.blockBox > .item {
  width: 558px; 
  border: 1px solid white;
  padding: 50px;
  font-weight: 700;
} 

.blockBox.active{
  color: red;
}



.timeline li {
  position: relative;
  cursor: pointer;
}

.timeline li:not(:last-of-type)::before{
  display: block;
  content: '';
  width: calc((100vw / 5) + 10px);
  height: 2px;
  position: absolute;
  top: -45%;
  left: 50%;
}
.timeline li:nth-child(1)::after{
  display: block;
  content: '報名時間 \A 截止前可修改報名組別';
  white-space: pre;
  word-wrap: break-word;
  color: #4363AE;
  background: #fff;
  padding: 16px;
  text-align: center;
  position: absolute;
  top: -75%;
  left: 120%;
  font-size: 24px;
}

.timeline li:nth-child(4)::after{
  display: block;
  content: '登陸作品 \A 依賽程登陸作品';
  white-space: pre;
  word-wrap: break-word;
  color: #4363AE;
  background: #fff;
  padding: 16px;
  text-align: center;
  position: absolute;
  top: -75%;
  left: -60%;
  font-size: 24px;
}

.timeline p{
  position: relative;
}
.timeline p.info::after{
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 100px;
  left: 50%;
}

.timeline p.info:before{
  position: absolute;
  display: inline-block;
  content: '';
  background: white;
  color: red;
  padding: 16px;
  font-size: 24px;
  white-space: pre;
  word-wrap: break-word;
  top: 300%;
  z-index: 5;
}
.timeline p.info.info-one:before{
  content: 'UI & 團體組開賽';
}
.timeline p.info.info-two:before{
  content: '前端組開賽';
}


.timeline p.info::after{
  border-right: 3px dotted white;
}

.timeline li:hover p {
  color: rgb(255, 25, 25);
  font-weight: 800;
  transition: all .3s;
  transform: scale(1.25);
}


.timeline li:not(:nth-child(3n+2))::before{
  background-color: #fff;
}

.timeline li div{
  position: relative;
}
.timeline li:not(:last-of-type) div::after{
  display: block;
  content: '';
  width: calc((100vw / 5) + 10px);
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.timeline li>div::before{
  display: block;
  content: '';
  width: 5px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: -100px;

}
/* second */

li.dot{
  position: relative;
  bottom: 10px;
}

li.dot:not(:last-child)::after{
  display: block;
  position: absolute;
  content: "";
  width: 120px;
  height: 3px;
  background:#fff;
  top:-10px;
  left:120px;
}

li.dot::before{
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background:#fff;
  border-radius: 50%;
  top: -30px;
  left: 35%;
}
/*  */
.process li{
  position: relative;
  transition: 0.5s all;
}



.process li::before{
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  top: -25px;
  left: 45%;
  transition: 0.5s all;

}
.process li:not(:last-child):after{
  transition: 0.5s all;

  position: absolute;
  display: block;
  content: "";
  width: 221px;
  height: 2px;
  background: #000;
  border-radius: 50%;
  top: 15px;
  left:125%;
}

.process li.active {
  color:#6C8268 ;
}
.process li.active::before,.process li.active::after{
  background: #6C8268;
}
/*  */

.tab li.active {
  background: #000;
  color: white;
}


.canvas-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-49%,-42%);
  z-index: 25;
}
